<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is a test</title>
    <style type="text/css">
        body {
            background-color: lavender;
            size: 20px;
            margin-top: 5%;
            margin-left: 120px;
        }
        p {
            color: #ffb978;}
    </style>
</head>
<body>
<p id='cc' style="margin-left: 20px">
    this is a test
</p>

<button id="qq" onclick="myfun1()">变色</button></br><br>
<script>
    function myfun1() {
        document.getElementById("cc").style.color='red';
    }
</script>
我是qfsf  iam from SH。。。


</body>
</html>