<!DOCTYPE html>
<html lang="en">
<head>
    <title>QF</title>
    <meta charset="UTF-8" name="keywords" content="这个是个测试,百度找的到？">
    <meta name="description" content="这个网站是一个测试。创建于2016-8-24">
</head>


<body vlink="#7fffd4" link="#00008b" alink="#deb887">
    <p><img src="8.jpg" border=2  alt="找不到图片" width=50px height=50 align="right"  ></p>
    <a href="http://www.opd2c.com" target="_blank"> <img src="8.jpg"> </a>
    <a href="http://www.baidu.com">这个是百度</a><br>
    <a href="http://www.163.com">这个是网易</a>
    <pre style="font-weight:bolder;font-style:oblique;font-family: '幼圆';font-size: x-large;color: blueviolet;"><h2><b><sub>  弄好 弄好 boss </sub></b></h2></pre>
    <ol type="A">
   <li>1</li>
     <li style="color: #cccc4e;">1</li>
     <li>1</li>
     <li>1</li>
    </ol>
<hr>
    <ul type="A" style="font-weight: bold">
   <li>1</li>
     <li>1</li>
     <li>1</li>
    </ul>
<img
src="8.jpg"
border="0" usemap="#planetmap"
alt="Planets" />

<map name="planetmap" id="planetmap">

<area
shape="circle"
coords="150,150,14"
href ="http://user.qzone.qq.com/552314508"
target ="_blank"
alt="5523" />

<area
shape="circle"
coords="90,90,30"
href ="http://user.qzone.qq.com/371204418"
target ="_blank"
alt="3712" />

<area
shape="rect"
coords="0,0,60,60"
href ="http://user.qzone.qq.com/82970496"
target ="_blank"
alt="8297" />
</map>
<table border="1" width=100%  height=400px align="center" cellpadding="1px" rules="all" >
<caption style="border: hidden;color: #0b84ff">课程表</caption>
    <tr bgcolor="#dcdcdc" style="align-content: center;align-items: center">
        <th>姓名</th>
        <th>年龄</th>
        <th>工作</th>
        <th>公司</th>
        <th>来自于</th>
        <th>型号</th>
    </tr>
    <tr style="align-self: center" align="center">
        <td>qf</td>
        <td>29</td>
        <td>运维</td>
        <td>迪尔希</td>
        <td>上海徐汇</td>
        <td>索纳塔8</td>
    </tr >    <tr align="center">
        <td>zk</td>
        <td>30</td>
        <td>运维</td>
        <td>森浦</td>
        <td>上海闵行</td>
        <td>威朗</td>
    </tr >    <tr align="center">
        <td>ypq</td>
        <td>30</td>
        <td>运维</td>
        <td>中汇亿达</td>
        <td>上海徐汇</td>
        <td>凯越</td>
    </tr>    <tr align="center">
        <td>xxd</td>
        <td>29</td>
        <td>运维</td>
        <td>世纪天成</td>
        <td>上海徐汇</td>
        <td>CRV</td><tr align="center">
        <td>yy</td>
        <td>24</td>
        <td>运维</td>
        <td>空中网</td>
        <td>上海徐汇</td>
        <td>/</td>
    </tr>
</table>
    <form method="post">
    <input type="text" name="userid" placeholder="亲输入账号" maxlength="10">
    <input type="password" name="passwd" placeholder="亲输入密码">
    <input type="submit" name="提交" placeholder="提交吧" formaction="2.html" value="提交">
    <input type="reset" name="重置" placeholder="重置吧" formaction="2.html"  value="重置">
        <input type="button" value="普通按钮">
    </form>
</body>
<!--
<frameset rows="*,*">
    <frame name="111"/>
    <frame name="222"/>
</frameset>
</html>
-->